DirectoryIndex index.html

ErrorDocument 404 /404.html

<IfModule mod_headers.c>
  <FilesMatch "\.(html|txt)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^www\.amcorn\.com$ [NC,OR]
  RewriteCond %{HTTP_HOST} ^(www\.)?amcorn\.co\.uk$ [NC]
  RewriteRule ^(.*)$ https://amcorn.com/$1 [R=301,L,NE]
</IfModule>
